.navbar-links {
  font-family: 'Assistant', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.link-nav {
  float: left;
}

.link-nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link-nav:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.portfolio-header {
  font-family: 'Assistant', sans-serif;
  font-size: 40px;
  line-height: 36px;
  text-align: start;
  letter-spacing: 1.8px;
  text-align: left;
  padding-top: 100px;
}

.portfolio-caption {
  font-family: 'Montserrat', arial;
  font-size: 15px;
  line-height: 27px;
  text-align: left;
  padding-top: 40px;
}

.boosted-header {
  font-family: 'Assistant', sans-serif;
  padding-top: 100px;
  text-align: center;
}

.boosted-caption {
  font-family: 'Montserrat', arial;
  font-size: 15px;
  padding-top: 6px;
  text-align: center;
}

.screen-links {
  display: inline-flex;
  width: 380px;
  padding: 8px;
}

.screen-img:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 2px 15px 3px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.portfolio-example-header {
  font-family: 'Assistant', sans-serif;
  padding-top: 65px;
  text-align: center;
}

.sistema-caption {
  font-family: 'Montserrat', arial;
  font-size: 15px;
  padding-top: 6px;
  text-align: center;
}

.portfolio-footer {
  padding-top: 90px;
}

.white-space {
  height: 20px;
}

@media only screen and (min-device-width: 350px) and (max-device-height: 667px) {
  .portfolio-caption{
    font-size: 29px;
    font-weight: 500;
    line-height: 47px;

  }
  .screen-img {
    width: 634px;
    height: auto;
  }
  .screen-links {
    margin-left: 2%;
    width: 685px;
  }
  .social-img{
    width: 45px;
  }
  .contact-email{
    font-size: 27px;
  }
  .contact-number{
    font-size: 27px;
  }
}

@media only screen and (min-device-width: 410px) and (max-device-height: 736px) {

  .portfolio-caption{
    font-size: 29px;
    font-weight: 500;
    line-height: 47px;

  }
  .screen-img {
    width: 634px;
    height: auto;
  }
  .screen-links {
    margin-left: 2%;
    width: 685px;
  }
  .contact-email{
    font-size: 27px;
  }
  .contact-number{
    font-size: 27px;
  }
  .social-img{
    width: 45px;
  }
}
