ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-name {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 10px;
  color: black;
  margin-top: 90px;
}

.header-caption {
  font-size: 20px;
  font-family: 'Montserrat', arial;
  font-weight: 900;
}

.home-nav {
  width: auto;
  text-align: center;
  margin: 0;
  padding: 28px 0;
  margin-left: 4px;
}

.home-links {
  font-size: 20px;
  font-family: 'Montserrat', arial;
  font-weight: 100;
  display: inline-block;
  text-align: center;
  padding: 17px;
  line-height: 27.2px;
  margin-top: 18px;
}

.link-caption {
  margin-top: 4%;
}

.home-imgs {
  image-resolution: from-image;
  height: 200px;
  width: 330px;
  transition: 0.3s ease-in-out;
}

.home-imgs:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 2px 15px 3px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.about-img {
  image-resolution: from-image;
  height: 200px;
  width: 330px;
  transition: all 0.3s ease-in-out;
}

.about-img:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 2px 15px 3px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.resume-img {
  image-resolution: from-image;
  height: 200px;
  width: 330px;
  transition: 0.3s ease-in-out;
}

.resume-img:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 2px 15px 3px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.line {
  align-items: center;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: .5em 10%;
  padding: 0;
}

.contact {
  text-align: center;
}

.contact-email {
  font-size: 13px;
  font-family: 'Montserrat', arial;
  font-weight: 900;
}

.contact-number {
  font-size: 13px;
  font-family: 'Montserrat', arial;
}

.social-links {
  display: inline-block;
  padding: 4px;
}

.social-links:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.social-img {
  align-items: center;
  width: 30px;
  display: inline-block;
}

.white-space {
  height: 10px;
}

@media only screen and (min-device-width: 350px) and (max-device-height: 667px) {
  .home-imgs {
    width: 617px;
    height: auto;
  }
  .resume-img {
    width: 617px;
    height: auto;
  }
  .about-img {
    width: 617px;
    height: auto;
  }
  .home-links {
    font-size: 33px;
  }
}

@media only screen and (min-device-width: 410px) and (max-device-height: 736px) {
  .home-imgs {
    width: 617px;
    height: auto;
  }
  .about-img {
    width: 617px;
    height: auto;
  }
  .resume-img {
    width: 617px;
    height: auto;
  }
  .home-links {
    font-size: 33px;
  }
}
